@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap");
    *{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    }
    html,
     body {
        height: 100vh;
        background: -webkit-linear-gradient(90deg, rgb(255, 0, 0) 10%, #6f00ff 90%);
     }
 
  .draggable {
      position: absolute;
      z-index: 9;
      background-color: #f1f1f1;
      text-align: center;
      border: 1px solid #ddd;
      padding: 10px;
      cursor: move;
  }

  .draggable-header {
      padding: 10px;
      cursor: move;
      background-color: #ddd;
      
  }

  .draggable-content {
      margin-top: 20px;
  }

  /* Different colors for each draggable element */
  #draggable1 {
      left: 10px;
      top: 10px;
      background-color: #77ff00;
      border: 2px solid #d6ffb3;
  }

  #draggable2 {
      left: 10px;
      top: 10px;
      background-color: #2196F3;
      border: 2px solid #97cffd;
  }

  #draggable3 {
      left: 10px;
      top: 10px;
      background-color: #ff0000;
      border: 2px solid #fdaeae;
  }

  #draggable4 {
      left: 10px;
      top: 10px;
      background-color: #ff7300;
      border: 2px solid #ffb170;
  }